.gpt3__possibility {
  display: flex;
  flex-direction: row;
}

.gpt3__possibility-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 2rem;
}

.gpt3__possibility-image img {
  width: 100%;
  height: 100%;
}

.gpt3__possibility-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.gpt3__possibility-content h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 45px;
  color: #71e5ff;
}

.gpt3__possibility-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;

  color: #81afdd;
}

.gpt3__possibility-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  margin: 1rem 0;
}

.gpt3__possibility-content h5 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-subtext);
}

@media screen and (max-width: 550px) {
  .gpt3__possibility {
    flex-direction: column;
  }
}
@media screen and (max-width: 910px) {
  .gpt3__possibility {
    flex-direction: column;
  }

  .gpt3__possibility-content h1 {
    font-size: 28px;
    line-height: 40px;
  }

  .gpt3__possibility-image{
    justify-content: center;
    align-items: center;
  }
}
