@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #209dde 1.84%, #d21788 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #17a4e2 -13.86%, #d21788 99.55%);
  --gradient-div: linear-gradient(103.22deg, #17a4e2 -13.86%, #d31688 99.55%);

  --color-bg: #ffffff;
  --color-footer: #ffffff;
  --color-blog: #73b1f0;
  --color-text: #000000;
  --color-subtext: #ff8a71;
}
